<?xml version="1.0" encoding="UTF-8"?>
<config >

<!-- 
	preprocesor files ready to distribute
-->
    <var name="git" default="git"/>
    <files>
        <echo> <![CDATA[<%
            // заполняем оглавление в readme.markdown
            $readme_file="readme.markdown"  ;
            $readme=file_get_contents($readme_file);
            // для всех элементов оглавления - ## ### выставляем пункты
            $p="\n\n";
            preg_match_all('/^\s?\s?(#+)\s*(?:<a[^>]+>\s*(.*?)\s*#*\s*$/m',$readme,$m);
            preprocessor::log(2,$m);
            $start=false;
            $toc=0;
            foreach($m[0] as $k=>$v){
                if($m[2][$k]=='Оглавление') {
                    $start=true; continue;
                } else if(!$start)
                    continue;
                $readme=preg_replace('/'.preg_quote($m[0][$k]).'/'
                ,"\n".$m[1][$k].' <a name="toc'.(++$toc).'"/>'.$m[2][$k]."\n",$readme);
                if($m[1][$k]=='###') $p.='    ';
                $p.=  '* ['.$m[2][$k].'](#toc'.$toc.")\n";
            }
            preprocessor::log(2,$p);
            // заменяем прошлое оглавление на новое
            $readme=preg_replace('/(^\s*#+\s*Оглавление.*?$)([^#]+)/mu',
                "\n".'## Оглавление'.$p."\n",$readme) ;

            file_put_contents($readme_file,$readme);
        %>]]></echo>
    </files>





    <files>
        <echo>
            <![CDATA[<%
            $version="PHP Preprocessor, written by Ksnk (sergekoriakin@gmail.com)";
            $license="License MIT - Serge Koriakin - Jule 2010-2012";
            // get the last tag from output
            $output=array();
            $tag = exec($git." describe --tags", $output);
            //preprocessor::log(2,'',$tag."\n");
            // get a last string from output
            $output=array();
            $git_url = exec($git." remote -v", $output);
            // get all output & filter him
            $output=array();    exec($git." status -uno -s", $output); $output =implode("\n",$output);
            $status='';
            if(""!=(trim($modified=preg_replace("#\n+#","\n",preg_replace('#^.*?build/.*?$#m','',$output))))){
                preprocessor::log(2,'"'.$modified."\"\n");
                if(preg_match('#src/\w#',$output))
                    $status="status : draft build.\n";
            };
            $buildtime=date('ymdHi'); POINT::inline('hat',
'----------------------------------------------------------------------------
$Id: '.$version.',
ver: '.$tag.', Last build: '.$buildtime.'
'.$status.'GIT: '.$git_url.'$
----------------------------------------------------------------------------
'.$license.'
----------------------------------------------------------------------------') ;
%>]]>
        </echo>
    </files>
    
	<files dstdir="$dst">
        <file>readme.txt</file>
		<echo name="history.txt"  depend="readme.txt">
            <![CDATA[<%=POINT::get('history','markdown-txt');%>]]>
        </echo>
        <echo name="readme.html"   depend="readme.markdown">
           <![CDATA[<% echo '<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>'
           .POINT::get('readme','markdown-html').'</body></html>';%>]]>
        </echo>
	</files>
    <files dstdir="$dst" dir="src">
        <file >*.php</file>
        <copy >markdown.filter/*.*</copy>
    </files>

    <files dstdir="$dst/phing" dir="src">
        <file >point.ext.php</file>
        <file >preprocessor.class.php</file>
        <file >preprocessTask.php</file>
        <copy >markdown.filter/*.*</copy>
        <file >wiki.ext.php</file>
    </files>

</config>
