<?xml version="1.0" encoding="UTF-8"?>
<config >

    <!--
        preprocesor files ready to distribute
    -->
    <var name="version">PHP Preprocessor, written by Ksnk (sergekoriakin@gmail.com)</var>
    <var name="license">License MIT - Serge Koriakin - Jule 2010-2012</var>

    <import name="git.hat.xml"/>

	<files dstdir="$dst">
        <file>readme.txt</file>
		<echo name="history.txt"  depend="readme.txt">
            <![CDATA[<%=POINT::get('history','markdown-txt');%>]]>
        </echo>
        <echo name="readme.html"   depend="readme.markdown">
           <![CDATA[<% echo '<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>'
           .POINT::get('readme','markdown-html').'</body></html>';%>]]>
        </echo>
	</files>
    <files dstdir="$dst" dir="src">
        <file >*.php</file>
        <copy >markdown.filter/*.*</copy>
    </files>

    <files dstdir="$dst" >
        <copy >git.hat.xml</copy>
        <copy >rebuild.readme.xml</copy>
        <copy >build.bat</copy>
    </files>

    <files dstdir="$dst/phing" dir="src">
        <file >point.ext.php</file>
        <file >preprocessor.class.php</file>
        <file >preprocessTask.php</file>
        <copy >markdown.filter/*.*</copy>
        <file >wiki.ext.php</file>
    </files>

</config>
