<?xml version="1.0" encoding="UTF-8"?>
<config >

<!-- 
	preprocesor files ready to distribute
-->
    <files>
        <echo>
            <![CDATA[<% POINT::inline('hat',
'@version '.$version.'
 Rev: '.$svn_revision.', Modified: '.$svn_modified.'
 SVN: '.$svn_url.'
@license '.$license.'
') ;%>]]>
        </echo>

    </files>
    
	<files dstdir="$dst" dir="src">
         <file>readme.txt</file>
		<echo name="history.txt">
            <![CDATA[<%=POINT::get('history');%>]]>
        </echo>
        <echo name="readme.html">
           <![CDATA[<% echo '<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>'
           .POINT::get('readme','markdown-html').'</body></html>';%>]]>
        </echo>
 		<file >*.php</file>
        <copy >markdown.filter/*.*</copy>

	</files>
<!-- для документации -->
    <files code=":cp1251" dstdir="$dst/doc.src" dir="src">
   		<echo name="history.txt">
           <![CDATA[<%=POINT::get('history');%>]]>
        </echo>
   		<file >*.php</file>
   	</files>

    <files dstdir="$dst/phing" dir="src">
        <file >point.ext.php</file>
        <file >preprocessor.class.php</file>
        <file >preprocessTask.php</file>
        <copy >markdown.filter/*.*</copy>
        <file >wiki.ext.php</file>
    </files>

</config>
